* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 12px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar__item + .navbar__item {
  margin-left: 100px;
}

.navbar__link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}

.navbar__link::before {
  position: absolute;
  top: -2px;
  left: -35px;
  margin-right: 16px;
  width: 24px;
  height: 20px;
  background-image: url("../images/Icon__mail_1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.facebook::before {
  position: absolute;
  top: -2px;
  left: -35px;
  margin-right: 16px;
  width: 24px;
  height: 22px;
  background-image: url("../images/Icon__facebook_2.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.tel::before {
  position: absolute;
  top: -2px;
  left: -35px;
  margin-right: 16px;
  width: 24px;
  height: 22px;
  background-image: url("../images/Icon__phone_1.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.hero {
  padding: 88px 0 120px;
  background-color: #f0f0f0;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 628px;
}

.hero__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #000000;
}

.hero__text {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}

.hero__links {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero__link {
  padding: 20px;
  display: block;
  width: 216px;
  margin-right: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-decoration: none;
  background-color: #ee1b24;
  color: #ffffff;
}

.hero__link--active {
  padding: 18px;
  width: 216px;
  margin: 0;
  text-align: center;
  border: 2px solid #161a2b;
  background-color: #ffffff;
  color: #161a2b;
}

.about {
  position: relative;
  padding: 80px 0;
  background-color: #161a2b;
  background-image: url("../images/Power__plant1.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
}

.about::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 8px;
  background-color: #ee1b24;
  content: "";
}

.about::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 8px;
  background-color: #ffffff;
  content: "";
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__title {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

.about__text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.about__subtext {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.about__list {
  list-style-type: none;
}

.about__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.about__list-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 274px;
  text-decoration: none;
}

.about__item-right {
  position: relative;
  padding: 64px 63px 70px 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #161a2b;
}

.about__item-right:nth-child(odd) {
  margin-right: 16px;
}

.about__item-right:nth-child(1) {
  margin-bottom: 16px;
}

.about__item-right:nth-child(2) {
  padding: 64px 19px 43px 34px;
  margin-bottom: 16px;
}

.about__item-right:nth-child(3) {
  padding: 64px 42px 43px 34px;
}

.about__item-right:nth-child(4) {
  padding: 64px 58px 70px 34px;
}

.about__item-right::before {
  position: absolute;
  top: 0;
  margin-left: -8px;
  width: 2px;
  height: 104px;
  background-color: #ee1b24;
  content: "";
}

.about__item-number {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

.about__item-text {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.services {
  padding: 80px 0;
  background-color: #f0f0f0;
}

.services__title {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.services__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.services__item {
  position: relative;
  width: 576px;
  padding: 40px 44px 0 40px;
  background-color: #ffffff;
}

.services__item:nth-child(1) {
  padding-bottom: 104px;
  margin-right: 48px;
  margin-bottom: 48px;
}

.services__item:nth-child(2) {
  padding-bottom: 68px;
  margin-bottom: 48px;
}

.services__item:nth-child(3) {
  padding-bottom: 34px;
  margin-right: 48px;
}

.services__item:nth-child(4) {
  padding-bottom: 38px;
}

.services__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 112px;
  background-image: url("../images/Card1__icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.services__item:nth-child(2):before {
  background-image: url("../images/Card2__icon.png");
}

.services__item:nth-child(3):before {
  background-image: url("../images/Card3__icon.png");
}

.services__item:nth-child(4):before {
  background-image: url("../images/Card4__icon.png");
}

.services__item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 360px;
  height: 8px;
  background-color: #ee1b24;
  content: "";
}

.services__item-title {
  margin-bottom: 57px;
  margin-left: 123px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}

.services__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.news {
  padding: 80px 0 144px;
  background-image: url("../images/Background__image.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.news__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__title {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

.content-left__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 40px;
  width: 600px;
  background-color: #ffffff;
}

.info-link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.info-link::after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  height: 5px;
  background-image: url("../images/down.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.info-right {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.content-left__list {
  position: relative;
  padding: 24px 16px 31px 40px;
  width: 600px;
  list-style-type: none;
  background-color: #f0f0f0;
}

.content-left__list::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 80px;
  background-color: #ee1b24;
  content: "";
}

.content-left__item {
  width: 544px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}

.content-left__item + .content-left__item {
  margin-top: 32px;
}

.news__content-right {
  padding: 91px 68px 92px;
  width: 600px;
  background-color: #161a2b;
}

.news-content__right-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
}

.formes {
  display: flex;
  flex-direction: column;
}

.formes__label {
  margin-bottom: 88px;
  border-bottom: 1px solid #ffffff;
}

.formes__input {
  width: 464px;
  margin-bottom: 16px;
  border: none;
}

.formes__input:focus {
  background-color: #161a2b;
  color: #ffffff;
}

.formes__input::-moz-placeholder {
  background-color: #161a2b;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

.formes__input:-ms-input-placeholder {
  background-color: #161a2b;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

.formes__input::placeholder {
  background-color: #161a2b;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}

.control {
  display: flex;
  align-items: center;
  border-bottom: none;
  color: #ffffff;
}

.formes__input--control:checked ~ .control > .control__style {
  background-image: url("../images/black-check-box-with-white-check.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  background-color: #ffffff;
}

.control__style {
  display: block;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  background-color: #161a2b;
  border: 1px solid #ffffff;
}

.formes__btn {
  padding: 16px;
  display: inline-block;
  margin: 0 auto;
  width: 336px;
  border: 2px solid #ee1b24;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: #161a2b;
  color: #ffffff;
}

.work {
  padding: 80px 0 88px;
  background-color: #161a2b;
}

.work__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
}

.work__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.worl__item {
  position: relative;
  width: 294px;
  padding-left: 16px;
}

.worl__item:nth-child(1) {
  margin-top: 62px;
}

.worl__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 144px;
  background-color: #ee1b24;
  content: "";
}

.work__item-number {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.work__item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.work__item-text {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.work__item-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.work__item-link::after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 8px;
  height: 4px;
  background-image: url("../images/up-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.worl__item:nth-child(2) .work__item-link:after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 8px;
  height: 4px;
  background-image: url("../images/down-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.worl__item:nth-child(3) .work__item-link:after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 8px;
  height: 4px;
  background-image: url("../images/down-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.worl__item:nth-child(4) .work__item-link:after {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 8px;
  height: 4px;
  background-image: url("../images/down-white.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.write {
  padding: 80px 120px;
}

.write__title {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}

.write__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.write__item:nth-child(2) > .write__img-wrappers {
  border: none;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

.write__item:nth-child(3) > .write__img-wrappers {
  border: none;
  border-left: 2px solid #f0f0f0;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

.write__item:nth-child(5) > .write__img-wrappe {
  border: none;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
}

.write__item:nth-child(6) > .write__img-wrapp {
  border: none;
}

.write__item:nth-child(7) > .write__img-wrappe {
  border: none;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
}

.write__item:nth-child(9) > .write__img-wrappers {
  border-left: none;
  border-right: none;
}

.write__item:nth-child(10) > .write__img-wrappers {
  border-right: none;
}

.write__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 161px;
  border: 2px solid #f0f0f0;
}

.write__img-wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 384px;
  height: 161px;
  border: 2px solid #f0f0f0;
}

.write__img-wrappe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 432px;
  height: 161px;
  border: 2px solid #f0f0f0;
}

.write__img-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 336px;
  height: 161px;
  border: 2px solid #f0f0f0;
}

.comment {
  position: relative;
  padding: 80px 120px 105px 120px;
  background-color: #f0f0f0;
}

.comment::before {
  position: absolute;
  top: 400px;
  left: calc(50% - 600px);
  width: 32px;
  height: 64px;
  background-image: url("../images/Arrow__back.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.comment::after {
  position: absolute;
  top: 400px;
  right: calc(50% - 600px);
  width: 32px;
  height: 64px;
  background-image: url("../images/Arrow__forward.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.comment__inner {
  position: relative;
}

.comment__inner::after {
  position: absolute;
  top: 250px;
  left: calc(50% - 400px);
  width: 160px;
  height: 4px;
  background-color: #ee1b24;
  content: "";
}

.comment__title {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #000000;
}

.comment__content {
  position: relative;
  padding: 48px 16px 95px 40px;
  margin: 0 auto;
  margin-bottom: 48px;
  width: 800px;
  background-color: #ffffff;
}

.comment__content::before {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 106px;
  height: 31px;
  background-image: url("../images/Company__logo.png");
  content: "";
}

.comment__content::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 360px;
  height: 8px;
  background-color: #ee1b24;
  content: "";
}

.comment__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.comment__content-title {
  margin-left: 170px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.comment__content-text {
  margin-left: 170px;
  margin-bottom: 73px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}

.comment__content-longtext {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.line__wrapper {
  width: 800px;
  margin: 0 auto;
}

.line-red {
  display: inline-block;
  width: 32px;
  height: 8px;
  background-color: #ee1b24;
}

.line-black {
  display: inline-block;
  width: 16px;
  height: 8px;
  background-color: #161a2b;
}

.registration {
  padding: 88px 0;
}

.registration__title {
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}

.registration__label--name {
  padding-bottom: 16px;
  margin-right: 56px;
  border-bottom: 1px solid #000000;
}

.registration__input--name {
  width: 376px;
  margin-bottom: 56px;
  border: none;
}

.registration__input--name:focus {
  padding: 6px 0 0 0;
}

.registration__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.registration__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.registration__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.registration__label--email {
  padding-bottom: 16px;
  margin-right: 88px;
  border-bottom: 1px solid #000000;
}

.registration__input--email {
  width: 464px;
  margin-bottom: 16px;
  border: none;
}

.registration__input--email:focus {
  padding: 6px 0 0 0;
}

.registration__btn {
  padding: 10px 0;
  width: 207px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  border: 2px solid #ee1b24;
  background-color: #ffffff;
  color: #000000;
}

.registration__label--check {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.registration__input:checked ~ .registration__label--check > .registration__style {
  background-image: url("../images/checkbox-mark.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  background-color: #ffffff;
}

.registration__style {
  display: block;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border: 2px solid #161a2b;
}

.site-footer {
  padding: 40px 0;
  background-color: #161a2b;
}

.logo {
  display: inline-block;
  margin-bottom: 32px;
  text-decoration: none;
}

.site-footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.site-footer__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.site-footer__link {
  margin-left: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

@media only screen and (max-width: 928px) {
  .container {
    padding: 0 40px;
  }
  .site-header {
    padding: 20px 0;
  }
  .logo-img {
    width: 146px;
    height: 40px;
  }
}/*# sourceMappingURL=main.css.map */